* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h3 {
    font-size: 36px;
    margin: 10px;
}

h4 {
    font-size: 30px;
    margin: 20px 0 20px 0;
}

header {
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #65a5fa;
    text-align: center;
    padding-top: 30px;
    margin-right: 20px;
}

.essential-information {
    overflow: hidden;
}

.essential-information ul li {
    float: left;
    margin-right: 10px;
}

.contact-way {
    overflow: hidden;
}

.contact-way ul li {
    float: left;
    margin-right: 10px;
}

.s {
    margin: 10px;
}

